<title>Edit Dream Session | FiTrack</title>
<div id="page-content-wrapper">
<div class="container"> 
<h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">Edit Dream Session</h1>
<%= render 'form' %>

<%= link_to 'Show', @dream_session %> |
<%= link_to 'Back', dream_sessions_path %>
</div>
</div>