<title>Edit Dream Session | FiTrack</title>
<div id="page-content-wrapper">
<div class="container"> 

<%= render 'form' %>

<%= link_to 'Show', @dream_session %> |
<%= link_to 'Back', dream_sessions_path %>
</div>
</div>