<h1>Editing Alarm</h1>
<div id="page-content-wrapper" style="margin-left:3%;">
  <div class="container"> 
<%= render 'form' %>
  
<%= link_to 'Show', @alarm %> |
<%= link_to 'Back', alarms_path %>
    </div>
</div>