<title>Daily Tracking | FiTrack</title>
<div id="page-content-wrapper">
<div class="container"> 
<h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">Daily Tracking</h1>
<br>
<div class='row'>
  <div class='col-xs-6' align='center'>
    <a href='/daily_tracking/options'>
      <img class="img-circle" src="/assets/statistics.jpg" width="200px" height="200px" style="border: 1px solid #A6AAA9;">
    </a>
    <h4 class="text-muted">Daily Tracking Charts</h4>
    <p class="text-muted" >
      See your all time progress<br> with graphics <br>and charts.
    </p>
    <a class="btn btn-primary btn-sm"href='/daily_tracking/options'>Take a look</a>
  </div>
  <div class='col-xs-6' align='center'>
    <a href="/band_informations">
      <img class="img-circle" src="/assets/data.jpg" width="200px" height="200px" style="border: 1px solid #A6AAA9;">
    </a>
    <h4 class="text-muted">Band Information</h4>
    <p class="text-muted">
      See all the records your band <br> sent to us.
    </p>
    <br>
    <a class="btn btn-primary btn-sm"href="/band_informations">See more</a>
  </div>
</div>
</div>
</div>