<title>New Band Information Record| FiTrack</title>
<div id="page-content-wrapper">
<div class="container"> 
<h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">New Band Information Record</h1>
<%= render 'form' %>

<%= link_to 'Back', band_informations_path %>
</div>
</div>