<title>Daily Tracking Charts | FiTrack</title>
<div id="page-content-wrapper">
<div class="container"> 
<h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">Daily Tracking Charts Options</h1>
<br>
<center>
<p class="text-muted">
  <h2>Everyday counts!</h2>
  You can check your everyday progress here.<br>
  FiTrack gives you different options so you can <br>
  navigate through your work easily.<br>
</p>
<br>
<div class='row'>
    <p >
      How you are doing today?<br> Because today's workout matters.
    </p>
    <a class="btn btn-success btn-sm"href="/daily_tracking/today_work">Check it out!</a>
</div>
<br>
</center>
<br>
<div class='row'>
  <div class='col-md-4' align='center'>
    <h4 class="text-muted">Daily</h4>
    <p class="text-muted" >
      Compare your everyday progress<br> with graphics and charts.
    </p>
    <a class="btn btn-primary btn-sm"href="/daily_tracking/daily_comp">Take a look!</a>
  </div>
  <div class='col-md-4' align='center'>
    
    <h4 class="text-muted">Weekly</h4>
    <p class="text-muted">
      See your weekly progress <br> with charts. 
    </p>
    <a class="btn btn-primary btn-sm"href="/daily_tracking/weekly_comp">See more!</a>
  </div>
  <div class='col-md-4' align='center'>
    
    <h4 class="text-muted">Monthly</h4>
    <p class="text-muted">
      Compare your work between months <br> with FiTrack.
    </p>
    <a class="btn btn-primary btn-sm"href="monthly_comp">Go now!</a>
  </div>
</div>

</div>
</div>
</div>