<head>
<title>Contact Us | FiTrack</title>
</head>
<body>
<div class="container">
	<h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">  Contact Us </h1>
	<table>
  		<col width="60%">
 		<col width="40%">	
		<tr>
			<td>
				<br>
				<p style="text-align: center;"><img src="/assets/contact.jpg" width="820" height="320" /> </p>
				<h4 style="text-align: left;">At <strong>FiTrack</strong>, we love to hear from our clients!</h4>
				<p style="text-align: left;">Feel free to contact us through our contact form, by email, by phone or by regular mail. </p>
				<p style="text-align: left;"><strong>Postal Address: </strong></p>
				
				<p style="text-align: left;">FiTrack</p>
				<p style="text-align: left;">Bolivian Catholic University</p>
				<p style="text-align: left;">Cochabamba, Bolivia </p>
				<p style="text-align: left;"><strong>Telephone: </strong>+591 (6) 539 5750 </p>
				<p style="text-align: left;"><strong>Email:</strong> hello@fitrack.com
				<p style="text-align: left;"><strong>Service hours</strong>: Monday through Friday 10.00-12 &amp; 13.00-18.00 (CET).  Closed on major Bolivian holidays. </p>
			</td>
		</tr>
	</table>
</div>
<br>
</body>
