<html>
<head>
	<title>Terms Of Use</title>
</head>
<body>
	<div class="container">
		<h3>Website Terms Of Use
			<br>
			<small>Fittrack Terms of Use</small></h3>
		
			<p class="text-muted">
				Fittrack, Inc. and its affiliates ("Fittrack," "we" or "us") provide online and mobile services, including, but not limited to the Fittrack website ("Fittrack.com" or the "Site"), widgets, computer programs and mobile applications hosted by or on behalf of Fittrack (collectively, the "Fittrack Services") intended to enhance a consumer's use of the personal fitness and body monitoring electronic products offered by Fittrack (the "Fittrack Products"). THIS IS A LEGAL AGREEMENT BETWEEN YOU AND FITBIT, INC. AND GOVERNS YOUR USE OF THE FITBIT SERVICES. Subject to your acceptance of and adherence to these Terms of Use (the "Terms of Use"), Fittrack hereby grants you a limited, non-exclusive license to utilize the Fittrack Services as set forth herein. The terms "you" and "user" shall refer to all individuals and entities that access the Fittrack Services.

				By your affirmative actions of registering for and/or using the Fittrack Services, you signify your agreement to these Terms of Use and our Privacy Policy and consent to allow Fittrack to communicate with you electronically regarding the Fittrack Tracker and the Fittrack Services.
			</p>

			<h3><small>Modifications to the Terms of Use</small></h3>
			<p class="text-muted">
				We may make changes to the Terms of Use from time to time. A link to the most current Terms of Use will be available on the Fittrack home page and we will indicate the date of the "Latest Update" at the top of the Terms of Use. We may also place a special notice on the Fitbit Services or communicate significant changes by email. Your continued use of the Fitbit Services following the posting of such changes constitutes your acceptance of the Amended Terms of Use.
			</p>
			<h3><small>Requirements for Use of the Fittrack Services</small></h3>
			<p class="text-muted">
				The Fitbit Services are available for individuals aged 13 years or older. If you are 13 or older but under the age of 18, you should review this Agreement with your parent or guardian to make sure that you and your parent or guardian understand it.

				Full use of the Fitbit Services requires compatible Fitbit Products, Internet access, and certain software; may require periodic updates; and may be affected by the performance of these factors. The Fitbit Services is not a guaranteed part of any third party product or service offering, and no purchase or obtaining of any third party product or service shall be construed to represent or guarantee you access to the Fitbit Services.

				Please see the section entitled "Precautions" below for recommended precautions related to your use of the Fitbit Products and the Fitbit Services.
			</p>

			<h3><small>Agency</small></h3>
			<p class="text-muted">
				You represent that you are using the Fitbit Services for its intended purpose. If you are registering or using the Fitbit Services on behalf of a company or other organization, you represent that you have authority to bind your employer by your actions.
			</p>

			<h3><small>Precautions</small></h3>
			<p class="text-muted">
				Content found on Fitbit.com or through the Fitbit Services is for informational purposes only and is not intended to replace the relationship between you and your physician or other medical provider. We are not a licensed medical care provider and have no expertise in diagnosing, examining, or treating medical conditions of any kind, or in determining the effect of any specific exercise on a medical condition. You should always consult a physician before starting a fitness program, changing your diet or if you have any questions regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on or through the Fitbit Services. You should consult with your physician before following any training instructions you receive through the Fitbit Services or participating in any event announced on or through the Fitbit Services. Not all exercises or activities described on the Fitbit Services are suitable for everyone. You should understand that when participating in any exercise or exercise program, there is the possibility of physical injury and/or death. If you think you may have a medical emergency, call your physician or 911 immediately. If you feel discomfort or pain, immediately stop the activity causing such discomfort or pain. People who have Type 1 diabetes or other adverse medical or nutritional conditions should not use the Fitbit Services unless such use is directed and closely monitored by a physician. By using the Fitbit Services, you represent that you have received consent from your physician to participate in the programs, workouts, and exercises described on the Fitbit Services.

We are not responsible for any health problems that may result from training programs, products, or events you learn about through the Fitbit Services. If you engage in any exercise program you receive or learn about through the Fitbit Services you agree that you do so at your own risk and are voluntarily participating in these activities.
			</p>

			<h3><small>Information on the Fittrack Services</small></h3>
			<p class="text-muted">We try to provide helpful and accurate information on the Fitbit Services, but we make no endorsement, representation or warranty of any kind about any information, services or recommendations made available through the Fitbit Services. We are not responsible for the accuracy, reliability, effectiveness, or correct use of information you receive through the Fitbit Services. If you rely on any information provided by Fitbit, Fitbit employees, or others appearing on or contributing content to the Fitbit Services, you do so solely at your own risk.
			</p>

			<h3><small>Your Privacy Settings</small></h3>
			<p class="text-muted">Through the Fitbit Services, we enable you, if you wish, to share information with others, as this is an important motivator to achieve fitness goals. You can use the privacy settings within the Fitbit Services to control which information about you is shared with others.
			</p>

			<h3><small>User-Generated Content</small></h3>
			<p class="text-muted">Subject to Fitbit's adherence with the privacy settings you select within the Fitbit Services, you hereby grant to Fitbit a perpetual, irrevocable, non-exclusive, worldwide, royalty-free license, with the right to sublicense, to reproduce, distribute, transmit, publicly perform, publicly display, digitally perform, modify, create derivative works of, and otherwise use and commercially exploit any text, photographs or other data and information you submit to the Fitbit Services (collectively, "User Generated Content") in any media now existing or hereafter developed, including without limitation on websites, in audio format, and in any print media format. "User Generated Content" includes but is not limited to content posted on message board posts, blogs, journals, food and recipe submissions and user comments. Subject to Fitbit's adherence to the privacy settings you select within the Fitbit Services, you hereby waive any rights of publicity and privacy with respect to the User Generated Content and any other legal or moral rights that might preclude Fitbit's use of the User Generated Content or require your permission for Fitbit to use the User Generated Content. You agree not to assert any claim, whether based on tort, contract, or other legal theory, against Fitbit or its sublicensees relating to Fitbit's or its sublicensees' use of the User Generated Content in accordance with your privacy settings, and you hereby release Fitbit and its sublicensees from any such claims. You represent that your User Generated Content: (1) will not infringe any third party's copyright, patent, trademark, trade secret or other proprietary rights; (2) will not violate any law, statute, ordinance or regulation; (3) will not be obscene or contain child pornography; (4) will not contain any viruses, worms, time bombs or other computer programming code that is intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information; (5) will not violate any third party's rights of publicity or privacy; and (6) will not be defamatory, unlawfully threatening or harassing, harmful to minors in any way, or otherwise offensive or inappropriate. You are responsible for complying with all laws applicable to your User Generated Content.
			</p>

			<h3><small>Registration and Password; Privacy Policy</small></h3>
			<p class="text-muted">You are responsible for maintaining the confidentiality of your login information and password. You shall be responsible for all uses of your login information, whether or not authorized by you. You agree to immediately notify us of any unauthorized use of your login information or password. Fitbit cannot and does not assume any responsibility or liability for any information submitted by someone who has fraudulently accessed your Fitbit account or for any third party's fraudulent use or misuse of information submitted by you.

You represent that the information that you provide about yourself as requested in the Fitbit account registration form (the "Registration Data") is accurate and complete, and you agree to update your account information, as necessary, including providing Fitbit with your current email address, so that you may receive notifications and other account-related communications.

The Fitbit Services are subject to the Fitbit Privacy Policy, which can be found at www.fitbit.com/privacy.
			</p>

			<h3><small>Ownership of the Fittrack Services</small></h3>
			<p class="text-muted">Except for the User Generated Content, the Fitbit Services and all aspects thereof, including all copyrights, trademarks, and other intellectual property rights therein, are owned by Fitbit or its licensors. You acknowledge that the Fitbit Services and any underlying technology used in connection with the Fitbit Services contain Fitbit's intellectual property and proprietary information. You may not reproduce, distribute, modify or create derivative works of, publicly display (including by framing any content), or commercially exploit any part of the Fitbit Services except as necessary to view the content therein and to create a reasonable number of copies of portions of such content (without modification) for your personal, non-commercial use. All rights in the Fitbit Services not expressly granted to you by Fitbit are retained by Fitbit and its licensors.

If you violate any of these Terms of Use, your permission to use the Fitbit Services automatically terminates and you must immediately destroy any copies you have made of any portion of the Fitbit Services.
			</p>

			<h3><small>Email Rules</small></h3>
			<p class="text-muted">Some of our users will make their email addresses available if they wish to converse with other users with similar interests or goals. If you use this information, you agree not to transmit "spam" or other unwanted solicitations, or any material that is harassing, threatening, offensive, obscene, abusive, harmful, defamatory, invasive of another's privacy, infringing of another's intellectual property rights, or illegal. Users found using email information in this manner may have their user accounts terminated. We are not responsible for the content of email messages sent to you by our users or from third parties.
			</p>

			<h3><small>Community Pages</small></h3>
			<p class="text-muted">There are several areas on the Fitbit Services on which users may post information, including journals and message boards on user profiles, food pages and photos (collectively, "Community Pages"). Any information posted to the Community Pages can be viewed by anyone who visits the Fitbit Services (whether or not such visitors are registered users). Fitbit does not endorse any information posted on the Community Pages and posts made by users do not necessarily reflect the views of Fitbit. Information on the Community Pages should not be taken as medical advice and we are not responsible for such information or for editing any factual errors or making any type of corrections to such information. Any action taken by you based on information presented on the Community Pages is at your own risk.
			</p>

			<h3><small>Copyrighted Materials</small></h3>
			<p class="text-muted">You agree that any materials posted by you shall not infringe or violate the rights of any other party or violate any laws, contribute to or encourage infringing or otherwise unlawful conduct, or otherwise be obscene, objectionable, or in poor taste. You also agree that you have obtained all necessary rights and licenses required to allow the posting of any content posted by You.

If you feel that any content posted on the Fitbit Services infringes your copyrights or other intellectual property rights, please notify us by sending an email to our support.
			</p>

			<h3><small>User Indemnification Of Fittrack</small></h3>
			<p class="text-muted">Upon request by us, you agree to defend, indemnify and hold Fitbit and its partners, affiliates, service providers, licensors, officers, directors, employees and agents harmless from and against any and all losses, liabilities, damages and costs, including but not limited to reasonable legal and accounting fees, arising from any claims, actions or demands related to or alleged to relate to: (a) your use of the Fitbit Services, including any User Generated Content you post, store, reproduce, display, or distribute via the Fitbit Services; (b) your violation of the Terms of Use; or (c) your violation of any intellectual property or other third party rights or any applicable law in connection with your use of the Fitbit Services. We reserve the right to assume control of the defense of any third party claim that is subject to indemnification by you, in which event you will cooperate with us in asserting and available defenses.
			</p>

			<h3><small>User Conduct</small></h3>
			<p class="text-muted">If we determine that any user is not using the Fitbit Services responsibly, we have the right (but not the obligation) to remove, edit, block, or delete such user's transmissions, User Generated Content, or use of the Fitbit Services. We also have the right (but not the obligation) to suspend or terminate your access to and use of Community Pages or other parts of the Fitbit Services, or delete information you have posted to the Fitbit Services, without prior notice if you engage in any conduct that we believe, in our sole discretion: (a) violates any provision of the Terms of Use, (b) violates the Community Guidelines, (c) is offensive to other users, (d) violates the rights of Fitbit or third parties, or (e) could cause Fitbit liability. Without limiting the foregoing, upon any termination of your account or access to the Fitbit Services we may delete all User Generated Content and other information related to your Community Pages. If Fitbit suspects that your Registration Data is inaccurate or incomplete, we may suspend or terminate your account.
			</p>

			<h3><small>Changes to Fittrack Services</small></h3>
			<p class="text-muted">Fitbit may change or discontinue, temporarily or permanently, any feature or component of the Fitbit Services at any time without further notice. In addition, we may, without notice to the applicable user, terminate individual Community Pages that have been inactive for more than 30 days, but have no obligation to do so. You agree that Fitbit shall not be liable to you or to any third party for any modification, suspension or discontinuance of any feature or component of the Fitbit Services.
			</p>

			<h3><small>Third Party Services</small></h3>
			<p class="text-muted">The Fitbit Services may provide links or references to websites operated by third parties. We do not monitor or investigate such websites and we are not responsible for the content, functionality, or practices of such websites. Inclusion of links to third party websites on our Fitbit Services does not imply approval or endorsement of the linked website by us. If you decide to leave our Fitbit Services and access these third party websites, you do so at your own risk. Fitbit suggests that you read the terms of use and privacy policies (if any) on those third party websites. You agree that Fitbit has no liability for any damage or loss of any type that is a result of your use of a third party website.
			</p>

			<h3><small>Content And Warranty Disclaimer</small></h3>
			<p class="text-muted">THE WEBSITE IS PROVIDED BY FITBIT AND ITS AFFILIATES "AS IS." NEITHER FITBIT NOR ITS PARTNERS, SUPPLIERS, OR AFFILIATES MAKE ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE WEBSITE, ITS CONTENTS, OR ANY INFORMATION MADE AVAILABLE BY OR THROUGH THE WEBSITE. IN ADDITION, Fitbit AND ITS PARTNERS DISCLAIM ALL WARRANTIES WITH RESPECT TO THE WEBSITE, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. FURTHERMORE, Fitbit DOES NOT WARRANT THAT USE OF THE WEBSITE WILL BE UNINTERRUPTED, AVAILABLE AT ANY TIME OR FROM ANY PARTICULAR LOCATION, SECURE OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE WEBSITE IS FREE OF VIRUSES OR OTHER POTENTIALLY HARMFUL COMPONENTS.
			</p>

			<h3><small>Limitation of Liability</small></h3>
			<p class="text-muted">IN NO EVENT WILL FITBIT BE LIABLE FOR DIRECT, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION THOSE RESULTING FROM LOST PROFITS, LOST DATA OR BUSINESS INTERRUPTION) ARISING OUT OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THE WEBSITE, WHETHER SUCH DAMAGES ARE BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT Fitbit HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE AGGREGATE LIABILITY OF Fitbit, ARISING FROM OR RELATING TO THE WEBSITE (REGARDLESS OF THE FORM OF ACTION OR CLAIM, E.G. CONTRACT, WARRANTY, TORT, STRICT LIABILITY, NEGLIGENCE, OR ANY OTHER LEGAL THEORY) IS LIMITED TO $100. FITBIT'S AFFILIATES, PROVIDERS AND PARTNERS HAVE NO LIABILITY WHATSOEVER ARISING FROM THE WEBSITE. In some locations applicable law may not allow certain of the limitations described above, in which case such limitations may not apply to you.
			</p>

			<h3><small>General</small></h3>
			<p class="text-muted">The Terms of Use and the resolution of any dispute related to the Terms of Use or the Fitbit Services shall be governed by and construed in accordance with the laws of the State of California without respect to its conflict of laws principles. You shall bring any legal action or proceeding against Fitbit related to the Fitbit Services exclusively in a federal or state court of competent jurisdiction sitting in San Francisco County, California, and you agree to submit to the personal and exclusive jurisdiction of such courts. If any provision(s) of the Terms of Use is found to be contrary to law, then such provision(s) will be construed, as nearly as possible, to reflect the intentions of the parties with the other provisions remaining in full force and effect. Fitbit's failure to exercise or enforce any right or provision of the Terms of Use will not constitute a waiver of such right or provision unless acknowledged and agreed to by Fitbit in writing. These terms and conditions constitute the entire agreement between you and Fitbit with respect to the subject matter herein and supersede any and all prior or contemporaneous oral or written agreements. You may not assign this agreement to any other party and any attempt to do so is void.
			</p>

			<h3><small>Terms Specifically Related to Our Premium Service</small></h3>
			<p class="text-muted">
				For users who have elected to purchase a premium subscription to the Services the following additional terms and conditions shall apply:

Description of the Premium Service. If you are signing up for Fitbit Premium Membership, for your membership fee, Fitbit hereby grants to you a license to use the following features and services solely for your personal, non-commercial use, subject to this Agreement: Fitbit Digital Trainer, Fitbit Benchmarking, Fitbit Custom Trackers, Fitbit Activity, Sleep and Food Reports, advanced Heart Rate Trackers, and unlimited Blood Glucose Trackers (together, the Fitbit Premium Services").
Payments. You agree to pay Fitbit the stated fees for the Premium Service for the duration of time and the amount you selected on the sign up page. You permit Fitbit to charge this fee to your credit card and automatically renew the charge for the duration of your membership until you cancel. We use a third party credit card payment processor to process all payments.
Automatic Renewal and Cancellation. Membership fees will be charged to your credit card and will automatically renew at the price then in effect for the duration of your membership until you cancel. Yearly memberships will automatically renew once a year. Cancellation of your membership can be done in the My Account area on Fitbit. If you choose to cancel, your cancellation will take effect at the end of the term in which you cancelled. If your credit card is invalid for any reason, charged back, or if Fitbit does not receive payment, we will cancel your member benefits immediately.
Term. Unless terminated earlier, this Agreement will remain in force as long as you are a paid subscriber to the Premium Services. If you terminate the Service, but continue to be a member of Fitbit, the Terms of Use and Privacy Policy will still apply.
Refund Policy and Termination. If Fitbit cancels the entire Service, you may request a refund in writing within 30 days after the cancellation and receive a refund for the prorated amount of the fees for the Service. If Fitbit makes a material adverse change to the Service or to the terms of this Agreement, you may terminate this Service and request a refund in writing within 15 days of such change and Fitbit will refund the prorated amount of the fees for the Service. If you cancel within 30 days of joining or renewal, you are eligible, upon request, for a full refund. Termination of your Premium Service account and the refund rights above are your sole remedies under this Agreement and against Fitbit in connection with Fitbit's provision of the Premium Service. Because Fitbit reserves the right to alter or discontinue all or any portion of the Premium Service or the Site, you should be sure to retain a copy of any materials you post on the Site and your User data, which can be exported into an Excel or CSV file.
Representations, Warranties and Covenants. You represent, warrant and covenant that (a) the membership and credit card information that you supply is true, correct and complete, (b) you will pay any charges that you incur in connection with the Service, including any applicable taxes, (c) you will update your membership and credit card information as required, (d) you will not allow anyone else to use your membership, (e) you will not transfer your membership or password to anyone else and (f) you will report to us any unauthorized or prohibited use of your membership or this Site.
Amendment. Subject to the termination and refund rights above, you agree that Fitbit reserves the right to amend the Premium Service and the terms associated therewith at any time and for any reason. Any changes may be posted to the Site or sent to you by email or postal mail.

		<br>
		<i>Fittrack, Inc.<br>
			### --- Street<br>
			Cochabamba, CBBA 94105<br>
			BOL<br>

			Date of last update: May 10, 2015</i>
		</p>
	</div>

</body>
</html>