<html>
<head>
	<title>Weight Lifting</title>
</head>
<body>

	<div class="container">
		<h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;"> Weight Lifting  </h1>
		
		<p align="justify">If there’s one constant thing we say across Nerd Fitness, it’s that if you want to lose weight, gain muscle, or just look better than ever for an upcoming event, the one thing you must absolutely do is eat clean and lift heavy.

		But what exactly does that mean?  And how do you get started? And why does this work so darn well? We’ve touched on it a few times before, gone over your diet, and shown you some people it’s worked for, but we haven’t really gone into great detail.</p>
		<p align="justify">
		<img class="img" src="/assets/weight.jpg" width="100%" height="100%" style= "right:400px;">
		</p>
	</div>

	<div class="container">
		<p align="justify">I am going to tell you the basic guidelines and rules for starting out in a weightlifting program; whether it is for strength, weight loss, lean muscle gain, or just overall fitness, this article and workout can help you figure things out and get started off on the right foot toward your health and fitness goals.</p>
	  
	</div>

	<div class="container">
	<div class="row">
      <div class="col-md-6 ">         
          <br>
          <img src="/assets/Weight-Lifting.jpg" width="100%" height="100%">
        
      </div>
      <div class="col-xs-6">
        <h4>BEGINNER WEIGHT/STRENGTH TRAINING WORKOUT</h4>
		<p align="justify">
			GUIDELINES FOR THIS WORKOUT
			This workout is designed for overall health and fitness gains of a healthy, adult individual who has never lifted weights before, or who is very inexperienced at it.

			You may note that the majority of exercises are machine based; this is intentional as an unconditioned beginner, has less integrity in the joints, less stability in the core which supports the entire body during training; and this makes one more apt to be injured when attempting to lift free weight (dumbbells, barbells) when just starting out.

			Using machines provides support for these weaker areas and allows the intended muscle to be isolated and strengthened before progressing to free weight.
		</p>
       
      </div>
    </div>
</div>
</body>
<br>
<br>
</html>