
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome <%= current_user.name %> | FiTrack</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">


 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
 

   
    
</head>

<body>

    
<div id="page-content-wrapper">
       
        <div class="container" align="center" style="padding-top:25%;">
          Welcome!<br>
          <strong><%= current_user.name %></strong>, this is your FiTrack dashboard. <br>
          Let's the fitness journey begin.
      
      </div>
                
</div>

</body>
</html>

