    
<div id="page-content-wrapper" style="margin-left:3%; padding-right:10%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @band.code %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
</div>