
<head>
<title>Welcome <%= current_user.name %> | FiTrack</title>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
</head>

<body>    
<div id="page-content-wrapper">
      <div class="container marketing" align="center" style="color: #808080; padding-top: 25%;">
      <!-- Three columns of text below the carousel -->
      	Welcome!<br>
      	<strong><%= current_user.name %></strong> this is your FiTrack dashboard.<br>
      	Let's begin your fitness journey.
      	<div class="row">
        </div>              
	  </div>
</body>

