@font-face {
    font-family: 'myriad_pro';
    src: font-url('MyriadPro-Regular.otf');

}
 div.container {
  	width: 60%;
  	margin-right:20%;
  	margin-left: 20%;
  }
body {
  font-family: 'myriad_pro';
  padding-top: 51px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 12px;
    background-color: rgba(54, 57, 63, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);

    background-color: rgba(54, 57, 63, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(54, 57, 63, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(54, 57, 63, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #36393f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #36393f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #36393f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #36393f;
}